html {
  --bg-color: black;
}
html.dark-mode {
  --bg-color: #ffffff;
}

body {
  transition: background 250ms ease;
  background-color: var(--bg-color);
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 140px;
}
.toggle span {
  margin: 0 0.5rem;
}
.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle input[type="checkbox"]:checked + label {
  background: teal;
}
.toggle input[type="checkbox"]:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.toggle label {
  cursor: pointer;
  width: 75px;
  height: 34px;
  background: rgba(0, 0, 0, 0.27);
  display: block;
  border-radius: 40px;
  position: relative;
}
.toggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 40px;
  transition: 0.3s;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
